<h1>Proyectos</h1>
<div class="card">
  <img src="ruta_a_imagen" alt="Proyecto 1">
  <div class="card-body">
    <h5 class="card-title">Proyecto 1</h5>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>
