<h1>Mis Proyectos</h1>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'proyectoRuby.png', class: 'small-image' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Proyecto Portafolio Ruby</h5>
        <p class="card-text">Aquí se encontraran todos los proyectos que realizaremos de Ruby on Rails</p>
        <a href="#" class="btn custom-button">Ver más</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'bg-header.jpg', class: 'small-image' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> Proyecto Iguana</h5>
        <p class="card-text">En este proyecto aprendimos como manejar Bootstrap, Html, Css, Font de Google</p>
        <a href="#" class="btn custom-button">Ver más</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'bg-hero.jpg', class: 'small-image' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Proyecto Olivia Ross</h5>
        <p class="card-text">En este proyecto aprendimos como manejar Bootstrap, Html, Css, Font de Google</p>
        <a href="#" class="btn custom-button">Ver más</a>
      </div>
    </div>
  </div>
</div>