<h1>Mis Proyectos</h1>

<div class="card">
  <%= image_tag 'proyectoRuby.png', class: 'custom-image' %>
  <div class="card-body">
    <h5 class="card-title">Proyecto 1</h5>
    <p class="card-text">Descripción del proyecto 1.</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>

<div class="card">
  <%= image_tag 'proyectoRuby.png', class: 'custom-image' %>
  <div class="card-body">
    <h5 class="card-title">Proyecto 2</h5>
    <p class="card-text">Descripción del proyecto 2.</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>

<div class="card">
  <%= image_tag 'proyectoRuby.png', class: 'custom-image' %>
  <div class="card-body">
    <h5 class="card-title">Proyecto 3</h5>
    <p class="card-text">Descripción del proyecto 3.</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>
